@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

html,
body {
  overflow-x: hidden;
}

body {
  @apply bg-gray-50 text-gray-950 relative pt-28 sm:pt-36 dark:bg-gray-900 dark:text-gray-50 dark:text-opacity-90;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.black_round_btn {
  @apply bg-gray-900 text-white px-7 py-3 flex items-center gap-2 rounded-full outline-none focus:scale-110 hover:scale-110 hover:bg-gray-950 active:scale-105 transition;
}

.bubble {
  @apply fixed bottom-20 right-5 font-medium w-36 bg-white borderBlack rounded-xl px-5 py-3 dark:bg-white/10 scale-0 transition-transform duration-300;
}

.bubble.open {
  @apply scale-100;
}

.color-picker {
  @apply !absolute scale-0 left-1/2 -translate-x-1/2 top-12 z-10 transition-transform duration-300;
}

.color-picker.open {
  @apply scale-100;
}

.dropzone {
  @apply relative flex flex-col items-center justify-center bg-white border-gray-900 border-2 border-dashed rounded-lg w-auto sm:w-4/6 py-10 px-5 active:border-blue-300 dark:bg-white/10 h-[148px] sm:h-[120px];
}

.portfolio-intro > p:not(:last-child) {
  @apply mb-3;
}

.badge__upload-success {
  @apply absolute opacity-0 scale-0 transition-all duration-300 delay-150 top-2 right-2;
}

.badge__upload-success.open {
  @apply opacity-100 scale-100;
}
